<p>{{'tid_contacte_email_welcome'|trans|nl2br}}</p>

<ul>
	<li>{{'tid_contacte_email_name'|trans|nl2br}}{{name}}</li>
	<li>{{'tid_contacte_email_mail'|trans|nl2br}}{{email}}</li>
	<li>{{'tid_contacte_email_phone'|trans|nl2br}}{{phone}}</li>
</ul>

<p>{{'tid_contacte_email_message'|trans|nl2br}}
{{message|nl2br}}
</p>

<p><h3>{{'tid_contacte_email_reminder'|trans|nl2br}}</h3></p>
<p>{{'tid_contacte_email_footer'|trans|nl2br}}</p>

