{% extends 'web/web-base.html.twig' %}

{% block body %}

<!-- https://startbootstrap.com/snippets/full-slider/ -->
<div class="header-content">
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active" style="background-image: url('/images/main-image.jpg')">
            </div>
        </div>
    </div>  
</div>

{# CALENDAR #}
<div class="container-fluid band-calendar">
	<div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h4>{{ 'tid_calendari_main_page_title'|trans }}</h4>
            </div>
        </div>
        <div class="row">
        {% for calendarElement in calendarElements %}
            <div class="col-lg-4">
                <div class="row justify-content-center">
                    <div class="col-sm-4">
                        <div class="square">
                            <h5><p class="text-right">{{ "%02d"|format(calendarElement.day) }}<br>{{ calendarElement.month|trans }}<br>{{ calendarElement.year }}</p></h5>
                        </div>
                    </div>
                    <div class="col-sm-7">
                        <p><h5>{{ calendarElement.title }}</h5>
                        <span class="glyphicon glyphicon-time"></span> {{ calendarElement.hour }}<br>
                        {{ calendarElement.dir }}<br>
                        {{ calendarElement.city }}</p>
                    </div>
                </div>
            </div>
        {% endfor %}
        </div>
    </div>
</div>

{# CONTRATATION #}
<div class="contratation">
    <div class="container">
        <p>Vols organitzar un acte?</p>
        <a href="/contacte" class="btn btn-outline-light">Contacta'ns</a>
    </div>
</div>

{# NEWS #}

{% endblock %}