{% extends 'base.html.twig' %}

{% block body %}

<div class="generic-content">
	<div class="parallax" style="background-image: url('{{ '/images/' ~ genericInfo.sectionFolder ~ '/background-image.jpg' }}')">
		<div class="container-fluid">
		<div class="container portrait-caption">{{ genericInfo.title|trans|upper }}</div>
		</div>
	</div>
	<div class="container-fluid content-container">
		<div class="container">
			<div class="row">
				<div class="col-lg-6">
					<p class="p-desc">{{ genericInfo.description|trans|raw }}</p>
				</div>
				<div class="col-lg-6 content-image">
					<img id="main-image" src="{{ '/images/' ~ genericInfo.sectionFolder ~ '/main-image.jpg' }}" class="thumb-image" alt='{{ genericInfo.mainImageDescription|trans }}' onClick="clickedThumbImage('main-image');">
				</div>
			</div>
		</div>
	</div>
	<div class="container-fluid">
		<div class="container">

            {% for sectionElement in sectionElements %}
                <div class="row row-title-space">
                    <div class="col">
                        <h1>{{ sectionElement.title|trans|capitalize }}</h1>
                    </div>
                </div>
                <div class="row row-margin">
                    <div class="col-lg-6 content-image">
                        <img class='thumb-image' id='{{ sectionElement.title }}' src='{{ sectionElement.url }}' alt='{{ sectionElement.title|trans|capitalize }}' onClick=clickedThumbImage('{{ sectionElement.title }}'); >
                    </div>
                    <div class="col-lg-6">
                        <p class="p-desc">{{ sectionElement.description|trans|raw }}</p>
                    </div>
                </div>
            {% endfor %}


		</div>
	</div>
</div>

{% endblock %}